@charset "utf-8";body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,figure,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}abbr,acronym{border:0;}a{text-decoration:none;}html,button,input,select,textarea{color:#222;}
body{font-size:1em;line-height:1.4;}::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}hr{display:block;height:1px;border:0;border-top:1px solid #707070;margin:1em 0;padding:0;}
img{vertical-align:middle;}fieldset{border:0;margin:0;padding:0;}textarea{resize:vertical;}
.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0;}
.lt-ie9 footer, .lt-ie9 header, .lt-ie9 nav {margin-top:0; margin-bottom:0;}

/* =========================================
   Fonts
   ========================================= */




/* =========================================
   Main Style
   ========================================= */

.clearfix {clear:both;}
.fl {float:left;}
.fr {float:right;}

body {
	width:100%;
    background: #000;
    font-family:'Open Sans', sans-serif;
}

.background {
	width:100%;
	height: 867px;
	background:url('../img/original.jpg') center top no-repeat; /*Temperory*/
	position: absolute;
	z-index: -1;
}

.slideshow {}

.mesh-overlay {
	width:100%;
	height:100%;
	background: url('../img/diagonal-lines-50px.png');
}

.black-overlay {
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
}

.gradient-overlay {
	width:100%;
	height:100%;
	background: -webkit-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
	background: -moz-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
	background: -o-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
	background: linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
}

.everything-but-footer {  
	width:1024px;
	margin:0 auto;
	position:relative;
	z-index:1;
}

header {
	width:100%;
	margin:0 auto;
}

header nav {
	border-top: 1px solid #000;
}

header nav ul {}

header nav ul li {
	float:left;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

header nav ul li:first-child {
	margin-right:12.5%;
	opacity:0.05;
}
	header nav ul li:first-child:hover {
		opacity:1;
	}

header nav ul li:last-child {
	margin-left:12.5%;
	opacity:0.05;
}
	header nav ul li:last-child:hover {
		opacity:1;
	}

header nav ul li a {
	width:255px;
	height:117.5px;
	padding-top:10px;
	display:block;
	border-radius: 0 0 255px 255px;
	-webkit-border-radius: 0 0 255px 255px;
	background: #000;
	color:#fff;
	text-transform: uppercase;
	text-align:center;
	font-size:30px;
}

header nav ul li a span {
	font-weight:bold;
}

#body {}

section#pledge {
	height:659px;
}

p.counter {
	font-size:115px;
	line-height:115px;
	font-weight:bold;
	color:#fff;
	text-align: center;
	margin-top:80px;
	text-shadow: 2px 1px 2px #000;
}

p.pledge-text {
	color:#3FA9F5;
	font-size:27px;
	line-height:27px;
	font-weight:bold;
	margin:20px auto;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 1px 2px #000;
}

p.pledge-text span {
	font-size:58px;
	line-height:58px;
	display:block;
	margin-top:15px;
}

a.pledge-button {
	width: 420px;
	height: 95px;
	display:block;
	margin:80px auto 50px auto;
	padding:20px 0;
	color:#fff;
	font-size:73px;
	line-height:73px;
	font-weight:bold;
	text-align: center;
	text-transform: uppercase;
	background: -webkit-linear-gradient(top, #29ABE2, #0071BC);
	background: -moz-linear-gradient(top, #29ABE2, #0071BC);
	background: -o-linear-gradient(top, #29ABE2, #0071BC);
	background: linear-gradient(top, #29ABE2, #0071BC);
	border-radius:12px;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
}

a.pledge-button span {
	font-size:16px;
	line-height:30px;
	display:block;
}

a.pledge-button:hover {
	background: #0071BC;
}

a.pledge-share-story {
	color:#fff;
	text-align: center;
	font-size:25px;
	line-height:25px;
	margin:0 auto;
	text-transform: uppercase;
	display:block;
	text-shadow: 2px 1px 2px #000;
}

div.social-follow {
	text-align: center;
	width: 326px;
	margin: 40px auto 0 auto;
}

div.social-follow div {
	float:left
}

div.social-follow div:last-child {
	margin-right:20px;
}

section#home-trending-stories {
	padding:60px 40px;
	background:#000;
}

section#home-trending-stories h3 {
	color:#fff;
	text-transform: uppercase;
	font-size:24px;
	line-height:24px;
	margin-bottom:40px;
	font-weight: 600;
}

section#home-popular-stories {
	padding:60px 40px;
	background:#fff;
}

section#home-popular-stories h3 {
	color:#000;
	text-transform: uppercase;
	font-size:24px;
	line-height:24px;
	margin-bottom:40px;
	font-weight: 600;
}

section#home-trending-stories ul,
section#home-popular-stories ul {}

section#home-trending-stories ul li,
section#home-popular-stories ul li {
	display:inline-block;
	width:298px;
	margin-right:20px;
}
	section#home-trending-stories ul li:last-child,
	section#home-popular-stories ul li:last-child {
		margin-right:0;
	}

section#home-trending-stories h4 a {
	font-size:20px;
	color:#fff;
}
section#home-popular-stories h4 a {
	font-size:20px;
	color: #000;
}

section#home-trending-stories ul li p {
	font-size:12px;
	color:#fff;
}

section#home-popular-stories ul li p {
	font-size:12px;
	color:#000;
}

section#home-trending-stories a.learn-more {
	font-size:14px;
	float: right;
	color:#fff;
}
section#home-popular-stories a.learn-more {
	font-size:14px;
	float: right;
	color:#000;
}

footer {
	text-align:center;
	font-size:12px;
	background:#000;
}

footer ul {}

footer ul li {
	display:inline-block;
	padding-right:5px
}

footer ul li a {
	color: #2C2D2F;
	padding: 20px 0;
	display: block;
}

footer ul li a:after {
	content: '/';
	padding-left:6px;
}

footer ul li:last-child a:after {
	content: none;
}

footer ul li a:hover{
	color:#429ABE;
}

#login-popup {
	width:500px;
	position: fixed;
	top: 20%;
	left: calc(50% - 250px);
	z-index: 10;
	border: rgba(255, 255, 255, 0.4) 10px solid;
	border-radius: 10px;
	background:#000;
}

#login-popup h5 {
	padding: 10px 10px;
	background: rgba(255, 255, 255, 0.1);
	font-weight: bold;
	color: #E2E2E2;
	text-transform: uppercase;
	text-align: center;
	font-size:19px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.popup-close {
	display: block;
	width: 29px;
	height: 29px;
	background: url('../img/close-button.png') no-repeat;
	position: absolute;
	top: -15px;
	right: -15px;
}

#login-popup p {
	text-align: center;
	color:#D8D8D8;
}

#login-popup p a {
	color:#fff;
}

#login-popup p a:hover {
	border-bottom: #fff 1px dotted;
}

.shield {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: -10;
}

.popup-inner {
	padding: 20px;
	margin: 0;
	color: #efefef;
	font-size: 14px;
}

.social-login-container {
	text-align:center;
	font-family: 'Oswald', sans-serif;
	width: 210px;
	margin: 30px auto;
}

.social-login-container a {
	display:block;
}


/*Facebook*/

.fb-ic {
	background: #354f88;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.fb-ic:after {
	content: url(../img/fb-icon.png);
	display: block;
  	padding: 9px 10px 5px 15px;
}

.fb-bg {
	background: #3b5998;
	display: block;
	height: 37px;
	margin: 0 0 20px 41px;
	width: 166px;
}

.fb-bg:after {
	color: #fff;
	content: "sign in with facebook";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	/*left: 8%;*/
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px;
}

.fb-bg:hover, .fb-bg:active {
	background: #354f88;
}

/*Twitter*/

.tw-ic {
	background: #40a2d1;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px; 
}

.tw-ic:after {
	content: url(../img/tw-icon.png);
	display: block;
  padding: 11px 10px 6px 11px;
}

.tw-bg {
	background: #45b0e3;
	height: 37px;
	margin: 0 0 20px 41px;
	width: 166px;
}

.tw-bg:after {
	color: #fff;
	content: "sign in with twitter";
	font-family: 'Oswald', sans-serif;
	height: 37px;
  	/*left: 11%;*/
	position: relative;
  	text-transform: uppercase;
	top: 22%;
  	width: 41px;
}

.tw-bg:hover, .tw-bg:active {
	background: #40a2d1;
}

/*Google Plus*/

.gp-ic {
	background: #ce3e26;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.gp-ic:after {
	content: url(../img/g-icon.png);
	display: block;
  	padding: 11px 10px 6px 13px;
}

.gp-bg {
	background: #de4c34;
	height: 37px;
	margin-left: 41px;
	width: 166px;
}

.gp-bg:after {
	color: #fff;
	content: "sign in with google+";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	/*left: 10%;*/
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px;
}

.gp-bg:hover, .gp-bg:active {
	background: #ce3e26;
}


/*Akash's Code*/
.motive_kar{
	visibility: hidden;
}


/* =========================================
   Media Queries
   ========================================= */   