@charset "utf-8";body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,figure,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}abbr,acronym{border:0;}a{text-decoration:none;}html,button,input,select,textarea{color:#222;}
body{font-size:1em;line-height:1.4;}::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}hr{display:block;height:1px;border:0;border-top:1px solid #707070;margin:1em 0;padding:0;}
img{vertical-align:middle;}fieldset{border:0;margin:0;padding:0;}textarea{resize:vertical;}
.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0;}
.lt-ie9 footer, .lt-ie9 header, .lt-ie9 nav {margin-top:0; margin-bottom:0;}

/* =========================================
   Fonts
   ========================================= */




/* =========================================
   Main Style
   ========================================= */

.clearfix {clear:both;}
.fl {float:left;}
.fr {float:right;}

body {
	width:100%;
    background: url('../images/pw_maze_black.png');
    font-family:'Open Sans', sans-serif;
}

.background {
	width:100%;
	/*height: 867px;*/
	/*background:url('../images/bg.jpg') center top no-repeat;*/ /*Temperory*/
	position: absolute;
	z-index: -1;
	background-size:contain;
	min-width:1024px;
}

.background img {
	max-width:100%; 
	height:auto;
	position:absolute;
	z-index:7;
}

.slideshow {
	position:absolute;
}

.mesh-overlay {
	width:100%;
	height:100%;
	background: url('../images/diagonal-lines-50px.png');
	position:fixed;
	z-index:8;
}

.black-overlay {
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
}

.gradient-overlay {
	width:100%;
	height:100%;
	/*background: -webkit-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
	background: -moz-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
	background: -ms-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
	background: -o-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
	background: linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);*/
}

.everything-but-footer {  
	width:1024px;
	margin:0 auto;
	position:relative;
	z-index:1;
}

header {
	width:100%;
	margin:0 auto;
}

header nav {
	border-top: 1px solid #000;
}

header nav ul {}

header nav ul li {
	float:left;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

header nav ul li:first-child {
	margin-right:12.5%;
	opacity:0.05;
}
	header nav ul li:first-child:hover {
		opacity:1;
	}

header nav ul li:last-child {
	margin-left:12.5%;
	opacity:0.05;
}
	header nav ul li:last-child:hover {
		opacity:1;
	}

header nav ul li a {
	width:255px;
	height:117.5px;
	padding-top:10px;
	display:block;
	border-radius: 0 0 255px 255px;
	-webkit-border-radius: 0 0 255px 255px;
	background: #000;
	color:#fff;
	text-transform: uppercase;
	text-align:center;
	font-size:30px;
}

header nav ul li a span {
	font-weight:bold;
}

#body {}

section#pledge {
	/*height:616px;*/
}

p.counter {
	font-size:88px;
	line-height:88px;
	font-weight:bold;
	color:#fff;
	text-align: center;
	margin-top:50px;
	text-shadow: 2px 1px 2px #000;
}

p.pledge-text {
	color:#3FA9F5;
	font-size:26px;
	line-height:26px;
	font-weight:bold;
	margin:3px auto;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 1px 2px #000;
}

p.pledge-text span {
	font-size:28px;
	line-height:28px;
	display:block;
	margin-top:5px;
}

a.pledge-button {
	width: 296px;
	/*height: 95px;*/
	display:block;
	margin:45px auto 50px auto;
	padding:30px 0;
	color:#fff;
	font-size:50px;
	line-height:50px;
	font-weight:bold;
	text-align: center;
	text-transform: uppercase;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29ABE2', endColorstr='#0071BC',GradientType=0 ); /* IE6-9 */
	background: -webkit-linear-gradient(top, #29ABE2, #0071BC);
	background: -moz-linear-gradient(top, #29ABE2, #0071BC);
	background: -ms-linear-gradient(top, #29ABE2, #0071BC);
	background: -o-linear-gradient(top, #29ABE2, #0071BC);
	background: linear-gradient(top, #29ABE2, #0071BC);
	border-radius:12px;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
}

a.pledge-button span {
	font-size:16px;
	line-height:30px;
	display:block;
}

a.pledge-button:hover {
	background: #0071BC;
}

a.pledge-share-story {
	color:#fff;
	text-align: center;
	font-size:25px;
	line-height:25px;
	margin:0 auto;
	text-transform: uppercase;
	display:block;
	text-shadow: 2px 1px 2px #000;
}

div.social-follow {
	text-align: center;
	width: 326px;
	margin: 40px auto 0 auto;
}

div.social-follow div {
	float:left
}

div.social-follow div:last-child {
	margin-right:20px;
}


/*Search and Filter bar*/

.search-and-filter {
	background:rgba(0,0,0,0.9);
	/*background: linear-gradient(rgba(0, 0, 0, 0.95), #000, rgba(26, 26, 26, 0.9));*/
	background:linear-gradient(#000, rgba(15, 15, 15, 0.96));
	border-bottom: #222 1px solid;
	padding:10px;
	width:100%;
	position:fixed;
	z-index:2;
	top:0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
	display:none;
}

.search-filter-container {
	margin:0 auto;
	width:1010px;
}

p.stories-logo {
	color: #FFF;
	text-transform: uppercase;
	font-size:30px;
	line-height:30px;
	display:inline-block;
	margin-right:50px;
}

p.stories-logo span {
	font-weight:bold;
}

form.search {
	display:inline-block;
	margin-right:30px;
	vertical-align: super;
}

form.search input {
	background:rgba(0,0,0,0) url('../images/search.png') right center no-repeat;
	padding:10px 0;
	width:200px;
	border:none;
	border-bottom:rgba(0,0,0,0) 2px solid;
	outline:0;
	color:#fff;
}

form.search input:hover {
	border-bottom:#a9a9a9 2px solid;
}

form.search input:focus {
	border-bottom:#fff 2px solid;
}

form.search button {
	display:none;
}

form.filter {
	display:inline-block;
	vertical-align:super;
}

form.filter label {
	margin-right:10px;
	color:#a9a9a9;
}

form.filter select {
	color:#a9a9a9;
	background:rgba(0,0,0,0) url('../images/arrow-dropdown-gray.png') right center no-repeat;
	border:0;
	-webkit-appearance:none;
	outline:0;
	padding: 10px 0;
	border-bottom: rgba(0,0,0,0) 2px solid;
}

form.filter select:hover {
	border-bottom:#a9a9a9 2px solid;
}

form.filter select:focus {
	border-bottom:#fff 2px solid;
}

form.filter option {
	background:#000;
}

#stories-content {
	position:relative;
}

ul.login-btn {
	float:right;
	margin-left: 20px;
	margin-top:7px;
	position:relative;
}

ul.login-btn img {
	width:30px;
	height:30px;
	border-radius:2px;
}

ul.login-btn img:after {
	content:"LLLL";
	padding-left:10px;
}
ul.login-btn > li {
	/*background:red;*/
	padding-right:15px;
	background: rgba(0, 0, 0, 0) url('../images/arrow-dropdown-gray.png') right center no-repeat;
}

ul.login-btn > li > a {
	background:green;
}

ul.login-btn > li  > ul {
	width:130px;
	text-align: left;
	font-size:14px;
	text-align:left;
	padding:5px 0;
	border-radius:4px;
	border-top-width: 0;
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 4px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	background-color: #111;
	color: #333;
	position: absolute;
	right:-40%;
	top: 50px;
	display: none;
	z-index: 1;
}

ul.login-btn > li  > ul:before {
	content: '';
	position: absolute;
	top: 0%;
	left: 65%;
	margin-left: -10px;
	margin-top:-20px;
	border: 10px solid;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #333;
}

ul.login-btn:hover > li > ul {
	display:block;
}

ul.login-btn > li  > ul > li {}

ul.login-btn > li  > ul > li > a {
	padding:5px 10px;
	display:block;
	color:#ccc;
}

ul.login-btn > li  > ul > li > a:hover {
	background:#292929;
}


/* Read Stories section */

section#stories {
	padding:20px 0;
	clear:both;
}

a.story {
	display:block;
	width:245.5px !important;
	height:auto;
	margin:14px 7px 0 7px;
	box-shadow: 1px 1px 5px -1px rgba(255, 255, 255, 0.10);
	background: rgba(0, 0, 0, 0.6);
	border-radius:4px;
}

a.story:hover {
	background:#000;
}

a.story figure {
	position:relative;
}

.love-count {
	display:none;
	position: absolute;
	top: 5px;
	left: 10px;
	color: #429ABE;
	font-size: 15px;
	line-height: 15px;
	vertical-align: top;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

a.story:hover .love-count {
	display:block;
}

.love-count:before {
	width:16px;
	height:16px;
	content: " ";
	display:inline-block;
	background: url('../images/heart.png') center top no-repeat;
	margin-right:10px;
}

a.story:hover .love-count:before {

}

a.story figure img {
	/*width:245.5px;*/
	width:100%;
	border-radius:4px 4px 0 0;
	/*margin-bottom: 15px;*/
	display:block;
	overflow:hidden;
    transition:			opacity 300ms ease-in-out;
    -moz-transition:	opacity 300ms ease-in-out;
    -webkit-transition:	opacity 300ms ease-in-out;
    -o-transition:		opacity 300ms ease-in-out;
    -webkit-transform: translateZ(0);
    -moz-backface-visibility: hidden;
}

a.story:hover figure img {
	opacity:0.5;
}

a.story figcaption {
	padding:20px 14px 14px;
}

a.story figcaption h4 {
	margin:5px 0;
	font-size:13px;
	line-height:17px;
	color:#444;
	font-weight:bold;
}

a.story:hover figcaption h4 {
	color:#717171;
}

a.story figcaption p {
	font-size:12px;
	/*color:#333;*/
	color:#474747;
}

a.story:hover figcaption p {
	color:#717171;
}

.credits {
	padding:14px;
	border-top: #1A1A1A 1px solid;
}

.credits img {
	width:30px;
	height:30px;
	border-radius:2px;
	float:left;
	margin-right:5px;
}

.author-name {
	color: #717171;
	font-weight:bold;
	font-size:12px;
}

.author-location {
	color:#B7B7B7;
	font-size:12px;
}

.author-location:before {
	width: 10px;
	height: 10px;
	display: inline-block;
	content: " ";
	margin-right: 5px;
	background-image: url('../images/location.png');
}

a.story:hover .author-location:before {
	background:url('../images/location.png') right top;
}

footer {
	text-align:center;
	font-size:12px;
	background:#000;
}

footer ul {}

footer ul li {
	display:inline-block;
	padding-right:5px
}

footer ul li a {
	color: #2C2D2F;
	padding: 20px 0;
	display: block;
}

footer ul li a:after {
	content: '/';
	padding-left:6px;
}

footer ul li:last-child a:after {
	content: none;
}

footer ul li a:hover{
	color:#429ABE;
}

/*Login Popup*/

#login-popup {
	width:500px;
	position: fixed;
	top: 20%;
	left: calc(50% - 250px);
	z-index: 10;
	border: rgba(255, 255, 255, 0.4) 10px solid;
	border-radius: 10px;
	background:#000  url('../images/stripes-grey.png');
	display:none;
}

#login-popup h5 {
	padding: 10px 10px;
	background: #252525;
	font-weight: bold;
	color: #E2E2E2;
	text-transform: uppercase;
	text-align: center;
	font-size:19px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.popup-close {
	display: block;
	width: 29px;
	height: 29px;
	background: url('../images/close-button.png') no-repeat;
	position: absolute;
	top: -15px;
	right: -15px;
}

#login-popup p {
	text-align: center;
	color:#D8D8D8;
}

#login-popup p a {
	color:#fff;
}

#login-popup p a:hover {
	border-bottom: #fff 1px dotted;
}

.shield {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: -10;
}

.popup-inner {
	padding: 20px;
	margin: 0;
	color: #efefef;
	font-size: 14px;
	background:#000;
}

.social-login-container {
	text-align:center;
	font-family: 'Oswald', sans-serif;
	width: 210px;
	margin: 30px auto;
}

.social-login-container a {
	display:block;
}


/*Facebook*/

.fb-ic {
	background: #354f88;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.fb-ic:after {
	content: url(../images/fb-icon.png);
	display: block;
  	padding: 9px 10px 5px 15px;
}

.fb-bg {
	background: #3b5998;
	display: block;
	height: 37px;
	margin: 0 0 20px 41px;
	width: 166px;
}

.fb-bg:after {
	color: #fff;
	content: "sign in with facebook";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	/*left: 8%;*/
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px;
}

.fb-bg:hover, .fb-bg:active {
	background: #354f88;
}

/*Twitter*/

.tw-ic {
	background: #40a2d1;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px; 
}

.tw-ic:after {
	content: url(../images/tw-icon.png);
	display: block;
  padding: 11px 10px 6px 11px;
}

.tw-bg {
	background: #45b0e3;
	height: 37px;
	margin: 0 0 20px 41px;
	width: 166px;
}

.tw-bg:after {
	color: #fff;
	content: "sign in with twitter";
	font-family: 'Oswald', sans-serif;
	height: 37px;
  	/*left: 11%;*/
	position: relative;
  	text-transform: uppercase;
	top: 22%;
  	width: 41px;
}

.tw-bg:hover, .tw-bg:active {
	background: #40a2d1;
}

/*Google Plus*/

.gp-ic {
	background: #ce3e26;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.gp-ic:after {
	content: url(../images/g-icon.png);
	display: block;
  	padding: 11px 10px 6px 13px;
}

.gp-bg {
	background: #de4c34;
	height: 37px;
	margin-left: 41px;
	width: 166px;
}

.gp-bg:after {
	color: #fff;
	content: "sign in with google+";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	/*left: 10%;*/
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px;
}

.gp-bg:hover, .gp-bg:active {
	background: #ce3e26;
}

/*Write Story Popup*/

#write-story {
	width:80%;
	position: fixed;
	top: 10%;
	left: 10%;
	z-index: 10;
	border: rgba(255, 255, 255, 0.4) 10px solid;
	border-radius: 10px;
	background: #000 url('../images/stripes-grey.png');
	display:none;
}

.write-story .shield {
	background: rgba(0, 0, 0, 0.9);
}

#write-story h5 {
	padding: 10px 10px;
	background: #252525;
	font-weight: bold;
	color: #E2E2E2;
	text-transform: uppercase;
	text-align: center;
	font-size:19px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#write-story .popup-inner {
	background:#000;
}

#write-story form {}

#write-story fieldset {
	width:50%;
	display:block;
	float:left;
}

#write-story .row {
	margin-bottom:20px;
}

#write-story label {
	display:block;
	color:#D8D8D8;
	margin-bottom:5px;
	display:none;
}

#write-story label[for="anon-post"] {
	display: inline-block;
	margin-left: 10px;
	vertical-align: bottom;
	line-height: 14px;
}

.lt-ie10 #write-story label {
	display:block;
}

#write-story input[type="text"],
#write-story input[type="file"],
#write-story textarea {
	display:block;
	width:160px;
	width:90%;
	padding:10px;
	border:none;
	color:#fff;
	border-radius:4px;
	background:#111;
}

#write-story textarea {
	height:200px;
}

#write-story button {
	display:block;
	margin:20px auto 20px auto;
	border:none;
	padding:10px 20px;
	color:#fff;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	text-align: center;
	text-transform: uppercase;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29ABE2', endColorstr='#0071BC',GradientType=0 ); /* IE6-9 */
	background: -webkit-linear-gradient(top, #29ABE2, #0071BC);
	background: -moz-linear-gradient(top, #29ABE2, #0071BC);
	background: -ms-linear-gradient(top, #29ABE2, #0071BC);
	background: -o-linear-gradient(top, #29ABE2, #0071BC);
	background: linear-gradient(top, #29ABE2, #0071BC);
	border-radius:12px;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
}


/*Read Storty Popup*/

#read-story {
	width:90%;
	position: absolute;
	top: 5%;
	left:5%;
	margin:0 auto;
	z-index: 10;
	/*border: rgba(255, 255, 255, 0.4) 10px solid;*/
	border-radius: 10px;
	display:none;
	/*background: #000 url('../images/stripes-grey.png');*/
}

#read-story .shield {
	background: rgba(0, 0, 0, 0.98);
}

#read-story .popup-close {
	z-index:11;
}

#read-story h5 {
	padding: 10px 10px;
	font-weight: 600;
	color: #E2E2E2;
	text-transform: capitalize;
	text-align: left;
	font-size:27px;
	margin: 0 0 8px 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#read-story h5 a.story-by {
	display: block;
	font-size: 12px;
	text-align: right;
	text-transform: initial;
	color: #429ABE;
}

#read-story h5 a.story-by:hover {
	color: #E2E2E2;
}

#read-story h5 a.story-by:before {
	content:"Story by ";
	color: #E2E2E2;
}

#read-story .popup-inner {
	padding:0;
	position:relative;
	height:454px;
}

.story-bg {
	width:100%;
	height:250px;
	background:#000 url('../images/original.jpg') center center no-repeat;
}

.readstory-container {
	position:absolute;
	top:70px;
}

.story-collumn {
	width:calc(61% - 40px);
	padding:20px;
	float:left;
	background:rgba(7,7,7,0.7);
	margin-left:1%;
	margin-right:1%;
	border-radius:4px;
}

.comments-collumn {
	width:calc(36% - 40px);
	padding:20px;
	background:rgba(7,7,7,0.7);
	float:left;
	margin-right:1%;
	border-radius:4px;
}

.story-in-detail p {
	color: #474747;
	font-size: 13px;
	margin-bottom:10px;
}

.story-in-detail img {
	max-width:300px;
	float:right;
	margin:0 0 10px 10px;
	border-radius:4px;
}

.vgradient-overlay {
	width:100%;
	height:100%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000);
	background: linear-gradient(top, rgba(0, 0, 0, 0), #000);
}

ul.tags {}

ul.tags li {
	display:inline-block;
}

ul.tags li a {
	padding:5px 10px;
	background:#444444;
	color:#fff;
	display:block;
	margin-bottom:5px;
}

ul.tags li a:hover {
	background:#429abe;
}

#read-story .fb-share-button {
	display:inline-block;
	margin-right:5px;
	margin-top:10px;
}
#read-story .tw-follow {
	display:inline-block;
	margin-top:10px;
	height:24px !important;
}


/*Akash's Code*/

.motive_kar{
	visibility: hidden;
}


/*Styling for the scroll bar*/

::-webkit-scrollbar {
	  width: 15px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
	  background-color: #000;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	  /*background-color: rgba(255, 255, 255, 0.1); 
	  background: rgba(255, 255, 255, 0.1) url(http://subtlepatterns.com/patterns/simple_dashed.png); 
	  */background:  #191919 url(../images/slant-mt-bg.png);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
	  background-color: rgba(255, 255, 255, 0.2);
	  background:#3d3d3d;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
	  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


/* =========================================
   Media Queries
   ========================================= */   